*{
    margin:0;
    padding:0;
}
#content{
    height:100%;
    position: relative;
}
.flex-column {
    display: flex;
    flex-direction: column;
    background-color: white;
}
.flex-row {
    padding:10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}
#hoverbar{
    height:20%;
    width:100%;
    background-color: white;
    visibility:hidden;
    position: absolute;
    bottom: 0;
}
#content:hover > #hoverbar{
    visibility:visible;
}
h1 {
    font-size: 30px;
    font-family: "Poppins";
    font-weight: normal;

}